@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rowdies', cursive;
}

.container {
  padding: 0 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER STYLE START */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 10%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  box-shadow: 0 0 5px 0px black;
  border-radius: 5px;
}

header h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 20px black;
  font-size: 35px;
  background-color: #214c63;
  padding: 1px 30px;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 70%;
  border-top-left-radius: 50%;
  box-shadow: 0 0 10px 3px #0f0f0f;
}

header nav {
  width: 40%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

header nav ul li a:hover {
  font-size: 16px;
  color: #E8AA9B;
  opacity: 1;
}

/* HEADER STYLE END */

/* HOME SECTION STYLE START */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpeg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

#home .bg {
  background-color: black;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#home .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: white;
}

#home .content article {
  width: 50%;
}

#home figure img {
  border-radius: 50%;
  height: 75%;
  border: 6px solid #E8AA9B;
  box-shadow: 0 0 10px 2px black;
}

#home .content article span {
  font-size: 35px;
  color: #E8AA9B;
  text-transform: capitalize;
}

#home .content article h1 {
  font-size: 60px;
  text-transform: capitalize;
  margin: 10px 0;
}

#home .content article p {
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
}

#home .content article ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 50%;
  margin-top: 20px;
}

#home ul li a {
  width: 100%;
  display: inline-block;
}

#home ul li a img {
  width: 30%;
  background-color: #E8AA9B;
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}
#home ul li a img:hover{
  transform: scale(1.4);
}

#home .content figure {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* HOME SECTION STYLE END */

/* ABOUT SECTION STYLE START */

#about {
  padding: 100px 0;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  box-shadow: 0 0 10px 0 black;
}

#about .container{
  justify-content: space-evenly;
}

#about figure {
  width: 40%;

}
#about figure img {
  width: 80%;
}

#about article {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#about article h2 {
  padding: 10px 0;
  text-transform: capitalize;
  color: white;
  opacity: 0.9;
  margin-bottom: 10px;
  font-size: 40px;
  position: relative;
}

#about article h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 40%;
  border-top: 5px solid #e9bcb7;
  box-shadow: 0 0 10px 3px #28313b;
}

#about article p {
  color: white;
  opacity: 0.8;
  text-transform: capitalize;
  margin: 30px 0;
  line-height: 1.5rem;
}

#about article table {
  width: 100%;
  border: 4px solid #e9bcb7;
  padding: 15px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 3px #28313b;
}

#about article table tbody tr td{
  padding: 10px;
}

#about article table tbody tr td span {
  margin-right: 10px;
  opacity: 0.9;
}

#about article table tbody tr td label {
  font-weight: 100;
  opacity: 0.8;
  font-size: 14px;
}

#about article a {
  text-decoration: none;
  color: white;
  background-color: #dd7156;
  border-radius: 10px;
  font-weight: 500;
  width: auto;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 3px #28313b;
  opacity: 0.8;
}

#about article a:hover {
  padding: 11px;
  background-color: #2c6a8b;
  opacity: 1;
}

/* ABOUT SECTION STYLE END */

/* SKILLS SECTION STYLE START */

#skills {
  background-color: #000000;
  background-image: linear-gradient(14deg, #000000 0%, #2c3e50 74%);
  padding: 100px 0;
}

#skills .container {
  flex-direction: column;
  justify-content: space-between;
}

#skills h2 {
  font-size: 40px;
  color: white;
  opacity: 0.9;
  text-transform: capitalize;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
}

#skills h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-bottom: 4px solid #e9bcb7;
}

#skills .container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

#skills article {
  width: calc(80% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills article img {
  width: 80%;
}

#skills article .b {
  width: 65%;
}

/* SKILLS SECTION STYLE END */

/* CONTACT ME SECTION STYLE START */

#contact {
  background-color: #6daddb;
  background-image: linear-gradient(315deg, #6daddb 0%, #313131 74%);
  padding-top: 80px;
  height: 100vh;
}

#contact .container {
  flex-direction: column;
}

#contact h2 {
  font-size: 40px;
  color: white;
  opacity: 0.9;
  text-transform: capitalize;
  position: relative;
  padding: 10px;
  margin-bottom: 30px;
}

#contact h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  border-bottom: 4px solid #e9bcb7;
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  margin-top: 20px;
  height: 100%;
}

#contact form span {
  width: 100%;
  color: white;
  opacity: 0.9;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

#contact form input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  outline: 0;
  box-shadow: 0 0 5px 2px #313131;
  border: 0;
}

#contact form span label {
  color: red;
  font-size: 25px;
}

#contact form textarea {
  width: 100%;
  margin: 15px 0;
  height: 25%;
  border-radius: 10px;
  padding: 10px;
  outline: 0;
  border: 0;
  font-size: 16px;
  box-shadow: 0 0 5px 2px #313131;
}

#contact form #btn {
  width: 30%;
  cursor: pointer;
  background-color: #dd7156;
  color: white;
  box-shadow: 0 0 5px 2px #313131;
  transition: all 0.3s ease-in-out;
}
#contact form #btn:hover {
  transform: scale(0.95);
  background-color: #567add;
  box-shadow: 0 0 5px 2px #313131;
}
/* CONTACT ME SECTION STYLE END */